<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Venta</title> 
    <link rel="stylesheet" href="../../fonts/material-icon/css/material-design-iconic-font.min.css"> 
    <link rel="stylesheet" href="../../css/style.css">
    <meta name="robots" content="noindex, follow">
</head>
<body> 
    <div class="main"> 
        <section class="signup"> 
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form-venta" class="signup-form">
                        <h2 class="form-title">Registro de Venta</h2>

                         <div class="form-group">
                            <select class="form-input" name="cliente" id="cliente" required>
                                <option value="C1">Cliente 1</option>
                                <option value="C2">Cliente 2</option>
                                <option value="C3">Cliente 3</option>
                                <option value="C4">Cliente 4</option>
                                <option value="C5">Cliente 5</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-input" name="almacen" id="almacen" required>
                                <option value="A1">Almacen 1</option>
                                <option value="A2">Almacen 2</option>
                                <option value="A3">Almacen 3</option>
                                <option value="A4">Almacen 4</option>
                                <option value="A5">Almacen 5</option>
                            </select>
                        </div>

                        <div class="form-group"> 
                            <select class="form-input" name="formaPago" id="formaPago" required>
                                <option value="1">Efectivo</option>
                                <option value="2">QR</option>
                                <option value="3">Deposito en Cuenta</option>
                                <option value="4">Transferencia Bancaria</option>
                            </select>
                        </div>

                        <div class="form-group"> 
                            <select class="form-input" name="formaEntrega" id="formaEntrega" required>
                                <option value="F1">Delivery</option>
                                <option value="F2">En agencia</option> 
                            </select>
                        </div>

                        <div class="form-group" style="border: 1px solid #ede5e5; border-radius: 5px;padding: 16px;">
                            <table style="    width: 100%;">
                                <thead>
                                  <tr>
                                    <th>Producto</th>
                                    <th>Codigo</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Total</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Producto 1</td>
                                    <td>Pro-01</td>
                                    <td style="text-align: center;">2</td>
                                    <td style="text-align: right;">10.00</td>
                                    <td style="text-align: right;">20.00</td>
                                  </tr>
                                  <tr>
                                    <td>Producto 2</td>
                                    <td>Pro-02</td>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: right;">25.00</td>
                                    <td style="text-align: right;">25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Producto 3</td>
                                    <td>Pro-03</td>
                                    <td style="text-align: center;">3</td>
                                    <td style="text-align: right;">7.50</td>
                                    <td style="text-align: right;">22.50</td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr>
                                    <td colspan="4" style="text-align:right;"><strong>Total a Pagar:</strong></td>
                                    <td style="text-align: right;"><strong>67.50</strong></td>
                                  </tr>
                                </tfoot>
                              </table>
                        </div>
                        <div class="row" style="display: inline-flex;width: 100%;">
                            <div class="form-group" style="width: 50%;padding-right: 2px;">
                                <input type="number" class="form-input" step="0.01" min="0" name="descuentoGlobal" id="descuentoGlobal" placeholder="Descuento Global"   required/>
                            </div>
                            <div class="form-group"  style="width: 50%;padding-left: 2px;">
                                <input type="number" class="form-input" step="0.01" min="0" name="total" id="total" placeholder="Total"  required/>
                            </div>
                        </div> 
                        <div class="form-group">
                            <textarea class="form-input" name="observaciones" id="observaciones" placeholder="Observaciones" required></textarea>
                        </div> 
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Registro de Venta">
                        </div>
                    </form> 
                    <p class="loginhere" id="loginhere" style="display: none;"> 
                        Registrando.....
                      </p>
                </div>
            </div>
        </section>

    </div>
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../js/venta.js"></script>
</body>
</html>